[Unit]
Description=MQTT Service
After=network.target
StartLimitIntervalSec=0

[Service]
SyslogIdentifier=msb-mqtt_update
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python /home/pi/motion-sensor-box/src/lidar/src/lidar_mqtt.py

[Install]
WantedBy=multi-user.target
